.footer{
    position: relative;
    bottom: 0;
    height: 220px;
    width: 100%;
    background: var(--theme-color);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}